<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link type="text/css" rel="stylesheet" href="/assets/dest/css/materialize.min.css">
    <link type="text/css" rel="stylesheet" href="/assets/dest/css/index.min.css">
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>GetWord</title>
</head>
<body>
<nav>
    <div class="nav-wrapper">
        <a class="brand-logo center"><i class="material-icons">lock</i> GetWord</a>
    </div>
</nav>
<div class="container">
    <div class="center">
        <div class="preloader-wrapper active" id="loading">
            <div class="spinner-layer spinner-yellow-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <h2 id="result"></h2>
    </div>
    <hr>
    <br>
    <div class="container">
        <p>
            <label for="length">Length</label>
            <input type="number" id="length" value="8">
        </p>
        <p>
            <label for="useLetters">Use letters</label>
            <span class="range-field">
                <input type="range" id="useLetters" min="0" max="100" value="75" />
            </span>
        </p>
        <p>
            <label for="useNumbers">Use numbers</label>
            <span class="range-field">
                <input type="range" id="useNumbers" min="0" max="100" value="25" />
            </span>
        </p>
        <p>
            <label for="useSpecialCharacters">Use special characters</label>
            <span class="range-field">
                <input type="range" id="useSpecialCharacters" min="0" max="100" value="50" />
            </span>
        </p>
        <p>
            <input type="checkbox" id="easyToRemember" checked>
            <label for="easyToRemember">Easy to remember</label>
        </p>
    </div>
</div>
<script type="text/javascript" src="/assets/dest/js/jquery.min.js"></script>
<script type="text/javascript" src="/assets/dest/js/materialize.min.js"></script>
<script type="text/javascript" src="/assets/dest/js/index.min.js"></script>
</body>
</html>
