<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link type="text/css" rel="stylesheet" href="/assets/dest/css/materialize.min.css">
    <link type="text/css" rel="stylesheet" href="/assets/dest/css/index.min.css">
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>GetWord</title>
</head>
<body>
<nav>
    <div class="nav-wrapper teal">
        <a class="brand-logo center"><i class="material-icons">lock</i> GetWord</a>
    </div>
</nav>
<div class="container">
    <div>
        <h2 class="center" id="result"><span class="spinner"></span></h2>
    </div>
    <hr>
    <br>
    <div class="container">
        <p>
            <label for="length">Length</label>
            <input type="number" id="length" value="8">
        </p>
        <p>
            <input type="checkbox" id="useLetters" checked>
            <label for="useLetters">Use letters</label>
        </p>
        <p>
            <input type="checkbox" id="useNumbers" checked>
            <label for="useNumbers">Use numbers</label>
        </p>
        <p>
            <input type="checkbox" id="useSpecialCharacters" checked>
            <label for="useSpecialCharacters">Use special characters</label>
        </p>
        <p>
            <input type="checkbox" id="easyToRemember" checked>
            <label for="easyToRemember">Easy to remember</label>
        </p>
    </div>
</div>
<script type="text/javascript" src="/assets/dest/js/jquery.min.js"></script>
<script type="text/javascript" src="/assets/dest/js/materialize.min.js"></script>
<script type="text/javascript" src="/assets/dest/js/index.min.js"></script>
</body>
</html>