/**
 * GetWord | client style
 */

body {
    padding-top: 48px;
}

h1 {
    font-size: 72px;
    font-weight: 700;
}

.password-display {
    padding: 16px 24px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-size: 24px;

    background-color: #e9ecef;
    color: #6c757d;

    border-radius: 8px;
}

.btn-pw-display {
    padding: 0 12px 6px 12px;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1e1e1e;
        color: #ececec;
    }

    .password-display,
    .form-control,
    .form-control:focus {
        background-color: #313131;
        color: #acacac;
    }

    .btn-pw-display {
        color: #acacac;
    }

    .btn-pw-display:hover {
        color: #ececec;
    }
}
